.App {
  padding: 15px;
  margin-bottom: 30px;
}

.action-buttons-container {
  margin-bottom: 30px;

  button {
    font-weight: bold;
    margin: 15px;
    padding: 10px;
    min-width: 200px;
  }
}
