.transaction-element-container {
  padding-left: 50px;
  padding-right: 50px;
  .transaction-element {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    .card-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
